.enable-module {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border: 1px solid #dfe3e8;
  border-radius: 3px;
  background-color: #f9fafb;
  box-shadow: 0px 0px 1px 0px #00000040;
}
