.wrapper {
  position: fixed !important;
  background: white;
}
.bottom-right {
  bottom: 60px;
  right: 40px;
}

.top-right {
  top: 60px;
  right: 40px;
}

.bottom-left {
  bottom: 60px;
  left: 40px;
}

.top-left {
  top: 60px;
  left: 40px;
}

