<script type="text/javascript">
  window.setting = {{ shop.metafields.shopify_app.setting.value | json }};
</script>
{% schema %}
{
  "name": "instagram-feed",
  "target": "section",
  "javascript": "instagram-feed.js",
  "stylesheet": "instagram-feed.css",
  "settings": []
}
{% endschema %}

<div id="instagramContainer">
  <div class="page-width 1">
    <span>Default Title 1</span>
    <div style="display: grid; grid-template-columns: repeat({{ shop.metafields.shopify_app.setting.value.numberOfColumns }}, 1fr); grid-gap: 10px;">
      {% assign numberOfColumns = shop.metafields.shopify_app.setting.value.numberOfColumns %}
      {% assign numberOfRows = shop.metafields.shopify_app.setting.value.numberOfRows %}
      {% assign qtyMedia = shop.metafields.shopify_app.setting.value.qtyMedia %}
      {% assign count = numberOfColumns | times: numberOfColumns %}
      {% if count >= qtyMedia %}
        {% assign count = qtyMedia %}
      {% endif %}
      {% for i in (1..count) %}
        <div class="Mageplaza-Gird-Media">
          <img
            class="Mageplaza-MediaItem"
            src="https://via.placeholder.com/600x400?text=Image+{{ i }}"
            alt="Instagram Image"
            loading="lazy"
            width="auto"
            height="auto"
          />
        </div>
      {% endfor %}
    </div>
  </div>
</div>
