{% schema %}
{
  "name": "instagram-feed",
  "target": "body",
  "javascript": "instagram-feed.js",
  "settings": []
}
{% endschema %}

<div id="instagramContainer">
  <p>Loading Instagram feed...</p>
</div>
